body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: lavender;
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkslateblue;
  font-size: 40px;
}

.line {
  display: flex;
  gap: 60px;
  margin-bottom: 60px;
}

.person-line {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.up {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  padding: 0 12px;
  cursor: pointer;
}
 